*{
  box-sizing: border-box;
}

html,
body{
  width: auto;
  margin: 0 auto;
  padding: 0;
  font-family: "Lato", sans-serif;
}

h1,h2,h3{
  font-weight: 700;
}

p{
  line-height: 1.5;
}


a{
  text-decoration: none;
  font-weight: 600;
}


header{
  background: url(./Assets/Paris.jpeg);
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(78, 78, 78, 0.6);
  padding-bottom: 10rem;
  color: white;
}

nav{
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  padding-top: 1rem;
}

nav p{
  font-size: 1.8rem;
}

nav ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 40%;
}

nav li{
  list-style: none;
}

.header{
  margin: 15rem auto;
  width: 75%;
}

.header h1{
  font-size: 2rem;
  width: 55%;
  padding-left: 2rem;
  margin-bottom: 1.5rem;
}

.header p{
   font-size: 1.2rem;
   width: 50%;
}

.search{
  display: flex;
  flex-direction: row;
  width: 60%;
  padding-left: 1rem;
  justify-content: space-between;
}

.search button{
  background: #0a5dda;
  border: none;
  padding: 0.9rem 3rem;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
}

.benefits{
  width: 80%;
  height: 67vh;
  margin: 0 auto;
  margin-top: -13rem;
  align-items: center;
  justify-content: center;
  background: rgb(247, 247, 247);
  padding: 5rem ;
  border-radius: 1.5rem;
  margin-bottom: 8rem;
}

.benefits-box{
  display: flex;
  flex-direction: row;
}


.benefits h1{
  font-weight: 800px;
  margin-top: -1.5rem;
  padding: 0 2rem;
  margin-bottom: 5rem;
}

.travel-benefit h3, p, a{
  margin: 2rem 0;
  padding: 1rem 2rem;
}


.travel-benefit img{
  width: 20%;
  border-radius: 10rem;
  margin-left: 2rem;
}

.get-inspired{
  width: 80%;
  align-items: center;
  margin: 0 auto;
}

.get-inspired-boxs h1{
  margin-top: 16rem;
  margin-left: 2rem;
  color: white;
}

.get-inspired-title{
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: space-between;
}


.get-inspired-box1{
  display: flex;
  flex-direction: row;
  margin-bottom: 0.6rem;
}

.get-inspired-box1 .city1{
  background: url(./Assets/black-paris-tour-feature-2.jpg);
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(78, 78, 78, 0.6);
  width: 50%;
  height: 25rem;
  margin-right: 0.3rem;
}

.get-inspired-box1 .city2{
  background: url(./Assets/france-paris-woman-with-croissant-standing-in-front-of-seine-river-and-eiffel-tower-GEMF000902.jpg);
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(78, 78, 78, 0.6);
  width: 50%;
  height: 25rem;
  margin-left: 0.3rem;
}

.get-inspired-box2{
  display: flex;
  flex-direction: row;
  margin-bottom: 10rem;
}

.get-inspired-box2 .city1{
  background: url(./Assets/scale.jpeg);
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(78, 78, 78, 0.6);
  width: 33.33%;
  height: 20rem;
}


.get-inspired-box2 .city2{
  background: url(./Assets/salon-rue-rivoli-643x429.jpg);
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(78, 78, 78, 0.6);
  width: 33.33%;
  height: 20rem;
  margin: 0 0.5rem;
}

.get-inspired-box2 .city3{
  background: url(./Assets/Places-to-visit-in-paris2.png);
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(78, 78, 78, 0.6);
  width: 33.33%;
  height: 20rem;
}

/* Neighborhood section starts here */
.Neighborhood{
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 7rem;
}

.Neighborhood-box1, .Neighborhood-box2{
  display: flex;
  flex-direction: row;
  margin-bottom: 3rem;
  width: 100%;
}


.Neighborhood img{
  width: 100%;
  height: 45vh;
  object-fit: cover;
}


.Neighborhood-box1 h1{
  padding-right: 35rem;
  line-height: 1.7rem;
  margin-left:  10rem;
}

.Neighborhood-box2 h1{
  padding-right: 15rem;
  line-height: 1.7rem;
  margin: 3rem 10rem;
}

.Neighborhood p{
  padding: 0 10rem;
  line-height: 1.5rem;
  margin-bottom: 5rem;
}

.Neighborhood a{
  margin-left: 8rem;
  text-decoration: none;
  font-weight: 600;
}

/*  Foooter section begins here */

footer{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 45vh;
  margin: auto;
  padding: 5rem 0 ;
  justify-content: space-between;
  background: #081e33;
  color: #fff;
}


footer h1{
  margin-left: 10rem;
  font-size: 1.5rem;
}
.socia-icon{
  display: flex;
  flex-direction: row;
  margin-right: 8rem;
}

.social-icon-row{
margin: 1rem 2rem;
}

.social-icon-row h3{
  margin-left: 2.5rem;
  
}

.social-icon-row li{
  list-style-type: none;
  line-height: 2rem;
}
